{% extends 'base.html' %}

{% block content %}
    <style>
        .title {
            font-weight: bold;
        }

        .back-button {
                background-color: coral;
                color: #1D267D;
                font-size: 16px;
                padding: 10px 20px;
                display: inline-block;
                position: relative;
            }

        .back-button::before {
            content: '←';
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-55%);
            font-size: 35px;
        }

        back a {
            color: rgb(144, 45, 9);
            font-size: 3.5vh;
            margin-left: 30px;
            text-decoration: none;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

        .game-boxes {
            display: flex;
            flex-wrap: wrap;
            gap: 25px;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin: auto;
        }

        .game-box-content {
            color: coral;
            font-weight: bold;
            font-style: oblique;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        .game-box img {
            width: 150px;
            height: 150px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 5px solid black;
        }

    </style>

    <div class="button-line-left">
        <div class="back-button">
            <back>
                <a href="/">Back</a>
            </back>
        </div>
    </div>
    
    <h1 class="title">
        {% block title %} Game Page {% endblock %}
    </h1>
    <div class="abouttext">
        <p>Click one of the games below in order to play and compete against other players!</p>
    </div>
    <div class="game-boxes">
        <!-- Game Box 1 -->
        <a href="/games/reactionTime"> <!-- game1 will be changed to the name of the game-->
            <div class="game-box-content">
                <div class="game-box img">
                    <img src="https://www.wallpaperflare.com/static/457/577/123/lightning-blue-dark-black-wallpaper.jpg" 
                        alt="Lightning">
                </div>
                <p>REACTION TIME</p>
            </div>
        </a>
        
        <!-- Game Box 2 -->
        <a href="/games/sequenceMemory">
            <div class="game-box-content">
                <div class="game-box img">
                    <img src="https://imgs2.dab3games.com/sequence-memory-game.jpg" alt="Game 2 Icon">
                </div>
                <p>SEQUENCE MEMORY</p>
            </div>
        </a>

        <!-- Game Box 3 -->
        <a href="/games/wordGeneration">
            <div class="game-box-content">
                <div class="game-box img">
                    <img src="https://www.artsprofessional.co.uk/sites/artsprofessional.co.uk/files/styles/551_by_350_feature/public/main/articles/words_0.jpg?itok=gR4FHmuW" alt="Game 3 Icon">
                </div>
                <p>WORD GENERATION</p>
            </div>
        </a>

        <!-- Game Box 4 -->
        <a href="/games/matchingColors">
            <div class="game-box-content">
                <div class="game-box img">
                    <img src="https://img.freepik.com/premium-vector/colorful-square-with-squares-different-colors_576092-334.jpg?w=740" alt="Game 4 Icon">
                </div>
                <p>MATCHING COLORS</p>
            </div>
        </a>

        <!-- Game Box 5 -->
        <a href="/games/patternMemory">
            <div class="game-box-content">
                <div class="game-box img">
                    <img src="https://www.coolmathgames.com/sites/default/files/styles/pwa_512x512/public/game_m_thumbnail/incremental-memory-game-icon.png?itok=VzO7wU7e" alt="Game 5 Icon">
                </div>
                <p>PATTERN MEMORY</p>
            </div>
        </a>

        <!-- Game Box 6 -->
        <a href="/games/calculus">
            <div class="game-box-content">
                <div class="game-box img">
                    <img src="https://media.istockphoto.com/id/137047654/photo/1-13-as-mathematical-calculations-on-green-blackboard.jpg?s=612x612&w=0&k=20&c=RTvWrzltRJE7c3qxt0a_QwC147ozvyL70TVK6W7Vm6E=" alt="Game 6 Icon">
                </div>
                <p>QUICK CALCULUS</p>
            </div>
        </a>

        <!-- Game Box 7 -->
        <a href="/games/aimTraining">
            <div class="game-box-content">
                <div class="game-box img">
                    <img src="https://www.e4hats.com/cdn/shop/products/Z118243T-1.jpg?v=1659317759" alt="Game 7 Icon">
                </div>
                <p>AIM TRAINING</p>
            </div>
        </a>

        <!-- Game Box 8 -->
        <a href="/games/fastTyping">
            <div class="game-box-content">
                <div class="game-box img">
                    <img src="https://media.istockphoto.com/id/157531137/photo/typing-motion-blurred.jpg?s=612x612&w=0&k=20&c=1U6firGFGJYJ6DHEYWxRuohPmVeDdMXluOuI0bsGfb8=" alt="Game 8 Icon">
                </div>
                <p>FAST TYPING</p>
            </div>
        </a>

    </div>
{% endblock %}