{% extends 'base.html' %}

{% block content %}
    <style>
        .title {
            font-weight: bold;
        }

        .back-button {
                background-color: coral;
                color: rgb(144, 45, 9);
                font-size: 16px;
                padding: 10px 20px;
                display: inline-block;
                position: relative;
            }

        .back-button::before {
            content: '←';
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-55%);
            font-size: 35px;
        }

        back a {
            color: rgb(144, 45, 9);
            font-size: 3.5vh;
            margin-left: 30px;
            text-decoration: none;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

        .game-boxes {
            display: flex;
            flex-wrap: wrap;
            gap: 25px;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin: auto;
        }

        .game-box-content {
            color: coral;
            font-weight: bold;
            font-style: oblique;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        .game-box img {
            width: 150px;
            height: 150px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 5px solid black;
        }

    </style>

    <div class="button-line-left">
        <div class="back-button">
            <back>
                <a href="/">Back</a>
            </back>
        </div>
    </div>
    
    <h1 class="title">
        {% block title %} Game Page {% endblock %}
    </h1>
    <div class="abouttext">
        <p>Click one of the games below in order to play and compete against other players!</p>
    </div>
    <div class="game-boxes">
        <!-- Game Box 1 -->
        <a href="/games/reactionTime"> <!-- game1 will be changed to the name of the game-->
            <div class="game-box-content">
                <div class="game-box img">
                    <img src="https://www.wallpaperflare.com/static/457/577/123/lightning-blue-dark-black-wallpaper.jpg" 
                        alt="Lightning">
                </div>
                <p>REACTION TIME</p>
            </div>
        </a>
        
        <!-- Game Box 2 -->
        <a href="/games/sequenceMemory">
            <div class="game-box-content">
                <div class="game-box img">
                    <img src="https://imgs2.dab3games.com/sequence-memory-game.jpg" alt="Game 2 Icon">
                </div>
                <p>SEQUENCE MEMORY</p>
            </div>
        </a>

        <!-- Game Box 3 -->
        <a href="/games/wordGeneration">
            <div class="game-box-content">
                <div class="game-box img">
                    <img src="https://www.artsprofessional.co.uk/sites/artsprofessional.co.uk/files/styles/551_by_350_feature/public/main/articles/words_0.jpg?itok=gR4FHmuW" alt="Game 3 Icon">
                </div>
                <p>WORD GENERATION</p>
            </div>
        </a>

        <!-- Game Box 4 -->
        <a href="/games/matchingColors">
            <div class="game-box-content">
                <div class="game-box img">
                    <img src="" alt="Game 4 Icon">
                </div>
                <p>MATCHING COLORS</p>
            </div>
        </a>

        <!-- Game Box 5 -->
        <a href="/games/game5">
            <div class="game-box-content">
                <div class="game-box img">
                    <img src="" alt="Game 5 Icon">
                </div>
                <p>Game 5</p>
            </div>
        </a>

        <!-- Game Box 6 -->
        <a href="/games/game6">
            <div class="game-box-content">
                <div class="game-box img">
                    <img src="" alt="Game 6 Icon">
                </div>
                <p>Game 6</p>
            </div>
        </a>

    </div>
{% endblock %}