{% extends 'base.html' %}

{% block content %}

    <style>
        .back-button {
                background-color: coral;
                color: rgb(144, 45, 9);
                font-size: 16px;
                padding: 10px 20px;
                display: inline-block;
                position: relative;
            }

        .logout-button {
                background-color: coral;
                color: rgb(144, 45, 9);
                font-size: 16px;
                padding: 10px 20px;
                display: inline-block;
                position: relative;
                margin-right: 1vw;
            }

        .back-button::before {
            content: '←';
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-55%);
            font-size: 35px;
        }

        back a {
            color: rgb(144, 45, 9);
            font-size: 3.5vh;
            margin-left: 30px;
            text-decoration: none;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

    </style>
    <div class="button-line-left">
        <div class="back-button">
            <back>
                <a href="/">Back</a>
            </back>
        </div>
        <div class="logout-button">
            <back>
                <a href="/auth/logout">Logout</a>
            </back>
        </div>
    </div>
    

<div class="centering_container">
    <h1 align="center">Your Profile</h1>
</div>

    <table border="1" style="width: 60%; background-color: coral; color: rgb(144, 45, 9);">
        <thead>
            <tr>
                <th>Activity</th>
                <th>Attempt Count</th>
                <th>Best Attempt</th>
                <th>Latest Attempt</th>
                <th>Average Attempt</th>
                <th>Global Average</th>
            </tr>
        </thead>
        <tbody>
            {% for game in stats %}
                <tr>
                    <td>{{ game['name'] }}</td>
                    {% for game_stats in game['value'] %}
                        <td>{{ game_stats['value'] }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}