{% extends 'base.html' %}
<h1 class="title">{% block title %} Sign Up! {% endblock %}</h1>
{% block content %}
<form method="POST">
    <div class="centering_container">
        <h3 align="center">Sign Up</h3>
    </div>
    <div class="centering_container">
    
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="email">Email Address</label>
                <input
                    type="email"
                    class="form-control"
                    id="email"
                    name="email"
                    placeholder="Enter email"
                />
            </div>

            <div class="form-group">
                <label for="username">Username</label>
                <input
                    type="text"
                    class="form-control"
                    id="username"
                    name="username"
                    placeholder="Enter username"
                />
            </div>
            
            <div class="form-group">
                <label for="password">Password</label>
                <input
                    type="password"
                    class="form-control"
                    id="password"
                    name="password"
                    placeholder="Enter password"
                />
            </div>

            <div class="form-group">
                <label for="password_confirm">Password Confirm</label>
                <input
                    type="password"
                    class="form-control"
                    id="password_confirm"
                    name="password_confirm"
                    placeholder="Confirm password"
                />
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="form-group">
                <label for="first_name">First Name</label>
                <input
                    type="text"
                    class="form-control"
                    id="first_name"
                    name="first_name"
                    placeholder="Enter first name"
                />
            </div>

            <div class="form-group">
                <label for="last_name">Last Name</label>
                <input
                    type="text"
                    class="form-control"
                    id="last_name"
                    name="last_name"
                    placeholder="Enter last name"
                />
            </div>

            <div class="form-group">
                <label for="age">Age</label>
                <input
                    type="number"
                    class="form-control"
                    id="age"
                    name="age"
                    placeholder="Enter age"
                />
            </div>

            <button type="submit" class="btn coral_btn" style="margin-top: 20%; margin-left: 30%;">Submit</button>
        </div>
    </div>
    </div>  
</form>
{% endblock %}