{% extends 'base.html' %}

{% block content %}
    <style>

        userbar a, play_button a {
            color: #F094FA;
            font-size: 4vh;
            margin: 5vh;
            text-decoration: none;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        
        play_button a {
            text-align: center;
            border-radius: 20px;
            background-color: coral;
            color: #0C134F;
            padding: 10px 20px;
            font-size: 4vh;
        }

    </style>
    
    <!-- Upper line containing user buttons -->
    <div class="button-line-right">
        <userbar>
            <a href="/profile">Profile</a>
        </userbar>
    </div>

    <!-- Main body with title, description and play button -->
    <h1 class="title">{% block title %} Welcome to Human Benchmark! {% endblock %}</h1>
    <div class="abouttext">
        <p> Human Benchmark is a platform that offers a collection of simple, interactive games designed to measure your cognitive and physical abilities. Each activity allows individuals to test different skills, such as memory, reaction time, coordination, perception. </p>

        <img src="https://pbs-prod.linustechtips.com/monthly_2016_02/56b816799bf53_ScreenShot2016-02-07at11.15.13PM.png.c6d1e59bdd170646e3469d7b041af867.png">

        <p> Play now and compete against hundreds of other players around the world. Improve your dexterity while reaching the top of the global leaderboards! </p>

        <div class="centering_container">
        <play_button>
            <a href="/games">Play!</a>
        </play_button>
        </div>

    </div>
{% endblock %}